
  <div class="my-container">
    <div class="my-content">

      <%- include('../../components/todaysDate'); %>

      <div class="heading">
        Developers
      </div>

        <div class="project-container">


          <!-- BEGIN table for project employees -->
          <table class="ui selectable sortable table">
            <thead>
              <tr>
                <th>Developer</th>
                <th>Hours</th>
                <th>Overtime</th>
                <th>Contribution</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
                <td><a href=""><img src="/images/icons/icon-edit-grey.png" alt=""></a></td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td><a href=""><img src="/images/icons/icon-edit-grey.png" alt=""></a></td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
                <td><a href=""><img src="/images/icons/icon-edit-grey.png" alt=""></a></td>
              </tr>
            </tbody>
          </table>
          <!-- END table for project emploeeys -->
        </div>
        <!-- END of project container -->

        <!-- BEGIN Edit Project Details -->
        <div class="project-details">
          <div class="ui h3">Edit Employee Details </div>
          <form class="ui form">
              <div class="field">
                <label>Full Name</label>
                <input type="text" name="fullName" placeholder="Full Name">
              </div>
              <div class="field">
                <label>Email Address</label>
                <input type="text" name="emailAddress" placeholder="Email Address">
              </div>
              <div class="field">
                <label>Monthly Salary</label>
                <input type="number" name="monthlySalary" placeholder="Monthly Salary">
              </div>
              <div class="field">
                <label>Overtime Rate</label>
                <input type="number" name="overtimeRate" placeholder="Overtime Rate">
              </div>
            <label>Employment Status</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="status">
              <i class="dropdown icon"></i>
              <div class="default text">Employment Status</div>
              <div class="menu">
                <div class="item" data-value="0">archived</div>
                <div class="item" data-value="1">employed</div>
              </div>
            </div>
            <button class="ui green basic button submitter" type="submit">Save Changes</button>
            <button class="ui orange basic button" >Archive Project</button>
            <button class="ui red basic button" >Delete Project</button>
          </form>
        </div>
      <!-- END Edit Project Details -->

      <!-- end of content -->
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
