
  <div class="my-container">
    <div class="my-content">

      <div id="date-today">
        Tuesday, 13th October 2018
      </div>


      <div class="heading">
        Today's Tasks
      </div>

      <!-- start of add-new-x component -->
      <div class="add-new-x">
        <div class="add-new-x__text">
          Write down some new tasks~!
        </div>
        <div class="add-new-x__plus-button">
          +
        </div>
      </div>
      <!-- end of add-new-x component -->

      <!-- start of task-list -->
      <div class="task-list">

        <div class="task-list__header"> Active </div>

        <!-- start of task-list__item -->
        <div class="task-list__item">

          <div class="task-list__item__id ">
            <div class="task-list__item__pid"> AVARA </div>
            <div class="task-list__item__tid"> #02 </div>
          </div>

          <div class="task-list__item__text">
            Do the thing
          </div>

          <div class="task-list__item__button-edit">
            <img src="/images/icons/icon-edit-white.png" alt="edit">
          </div>

        </div>
        <!-- end of task-list__item -->

        <!-- start of task-list__item -->
        <div class="task-list__item task-list__item--disabled">

          <div class="task-list__item__id ">
            <div class="task-list__item__pid"> AVARA </div>
            <div class="task-list__item__tid"> #02 </div>
          </div>

          <div class="task-list__item__text">
            Do the thing
          </div>

          <div class="task-list__item__button-edit">
            <img src="/images/icons/icon-edit-white.png" alt="edit">
          </div>

        </div>
        <!-- end of task-list__item -->
        <table class="ui inverted table">
          <thead>
            <tr><th>Food</th>
            <th>Calories</th>
            <th>Protein</th>
          </tr></thead><tbody>
            <tr>
              <td>Apples</td>
              <td>200</td>
              <td>0g</td>
            </tr>
            <tr>
              <td>Orange</td>
              <td>310</td>
              <td>0g</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of task-list -->

      <!-- end of content -->
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
