
  <div class="my-container">
    <div class="my-content">

      <%- include('../../components/todaysDate'); %>
      <div class="h1">
        Welcome back to Endeavor, <%= me.fullName %> ~ !
      </div>
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
