
  <div class="my-container">
    <div class="my-content">

      <%- include('../../components/todaysDate'); %>

    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
