
  <div class="my-container">
    <div class="my-content">

      <div id="date-today">
        Tuesday, 13th October 2018
      </div>


      <div class="heading">
        Today's Tasks
      </div>


      <div class="add-new-x">
        <div class="add-new-x__text">
          Write down some new tasks~!
        </div>
        <div class="add-new-x__plus-button">
          +
        </div>
      </div>
      <!-- end of add-new-x component -->


      <!-- end of content -->
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
