
  <div class="my-container">
    <div class="my-content">

      <div id="date-today">
        Tuesday, 13th October 2018
      </div>

    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
