#welcome {
  padding-top: 75px;
  padding-bottom: 75px;
}
.my-container{
  height:100%;
}
body  {
  background-color: @not-white
}
@generic-width: 95%;

// TASK: Need to create mixins for text-sizes / stylings


// MIXINS
.text-style-header{
  color: @dark-grey;
  font-size: 2.5vh;
  font-weight: bold;
  padding-top: 1.5vh;
}

.drop-shadow-floater{
  box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.19);
    }
}

.rounded {
  border-radius: 15px;
}


// END OF MIXINS


.my-container {
  width: 100%;
  height:100%;
  background-color: @not-white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-content {
  background-color: @not-white;
  display: flex;
  flex-direction: column;
  width: @generic-width;
  height: 100%;
}

#date-today {
  font-size: 1.5vh;
  color: @dark-grey;
  padding-top: 2vh;
}

.heading  {
  color: @dark-grey;
  font-size: 2.5vh;
  padding-top: 0.5vh;
  font-weight: bold;
}

.add-new-x {
  .rounded;
  border-style: dashed;
  border-color: @medium-grey;
  border-width: 3px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  .add-new-x__text {
    font-size: 2vh;
    color:@dark-grey;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .add-new-x__plus-button{
    padding-left: 3%;
    font-size: 4vh;
    color: @yellow;
  }

  &:hover {
  background-color:white;
  cursor: pointer;
  border-color: transparent;
  .drop-shadow-floater;
  // .bob()
  }
}

// container for the task-list
.task-list {
  // individual item in a task-list
  display:flex;
  flex-direction: column;

}



  // the task status header
  .task-list__header {
    .text-style-header;
  }

  // the whole task
.task-list__item {
  .rounded;
  .drop-shadow-floater;
  margin-top: 0.5%;
  color:black;
  background-color: @white;
  display: flex;
  height:5%;

  flex-direction: row;
  justify-content: space-between;
}
// style of the project / task ID to the left

.task-list__item__id {
  display: flex;
  color:black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:8%;
  background-color:@medium-grey;
  border-radius: 15px 0px 0px 15px;

  .task-list__item__pid {

  }
  .task-list__item__tid {

  }
}

// text in the middle
.task-list__item__text {
  display: flex;
  color:black;
  align-items: center;
}


// style of project / task edit button to the right
.task-list__item__button-edit{
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  background-color: @yellow;
  width:3.5%;
}

.task-list__item--disabled {
  filter: grayscale(100%)!important;
}

.project-container {
  .rounded;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  .project__details {
    display: flex;
    padding-bottom: 1%;
    align-items: center;
    .project-title {
      font-size: 130%;
      font-weight: bold;
    }
    .spacer {
      margin-right: 1%;
    }
    .italics {
      font-style: italic;
    }
    .buttons {
      display: inline-flex;
      margin-left: auto;
      margin-right: 0;
      .yellower {

        &:hover {
          background-color: @yellow !important;
          color: white !important;
          font-weight: bold !important;
        }
      }
    }
  }

  table {
    margin-top: 0.5%;
  }
}

.project-details {
  .rounded;
  // width:40%;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  form {
    .form-manager{
      margin-top: 2%;
    }
  }

  .submitter {
    margin-top: 0.5em;
  }
}
.selected-dev-forms{
margin-top: 0.5em;
}
.selected-developers {
  display: flex;
  flex-direction: column;
}
.selected-dev-form {
  display: flex;
  flex-direction: row;
}
.hed{
  margin-top: 1em;
}

.edit-butt {
  display: flex;
  a {
    margin-left: auto;
    margin-right: 0px;

  }
}
