
  <div class="my-container">
    <div class="my-content">

      <div id="date-today">
        Tuesday, 13th October 2018
      </div>

      <div class="heading">
        Projects
      </div>
      <!-- start of add-new-x component -->
      <div class="add-new-x">
        <div class="add-new-x__text">
          Create a new project~!
        </div>
        <div class="add-new-x__plus-button">
          +
        </div>
      </div>
      <!-- end of add-new-x component -->




        <div class="project-container">
          <div class="project__details">
            <div class="project-title spacer">
              Dis Prah-ject
            </div>
             <div class="for spacer italics">
               for
             </div>
            <div class="ui label project-client spacer italics">
              Effman Industries
            </div>
            <div class="ui label project-status spacer italics">
              Doing Great
            </div>
            <div class="ui label project-manager spacer italics">
              Managed By Mr. Holmes
            </div>
            <div class="buttons">
              <div class="btn-add-dev">
                <button class="ui basic button yellower">
                  Add Developer
                </button>
              </div>
              <div class="btn-add-dev">
                <button class="ui basic button yellower">
                  View Tasks
                </button>
              </div>
              <div class="btn-edit-project">
                <button class="ui basic button yellower">
                  Edit Project
                </button>
              </div>
            </div>
          </div>


          <!-- BEGIN table for project employees -->
          <table class="ui selectable sortable table">
            <thead>
              <tr>
                <th>Developer</th>
                <th>Hours</th>
                <th>Overtime</th>
                <th>Contribution</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
          <!-- END table for project emploeeys -->
        </div>
        <!-- END of project container -->

        <!-- BEGIN Edit Project Details -->
        <div class="project-details">
          <div class="ui h3">Edit Project Details </div>
          <form class="ui form">
              <div class="field">
                <label>Project Name</label>
                <input type="text" name="project-name" placeholder="Project Name">
              </div>
              <div class="field">
                <label>Client Name</label>
                <input type="text" name="client-name" placeholder="Client Name">
              </div>
            <label>Status</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="status">
              <i class="dropdown icon"></i>
              <div class="default text">Select Status</div>
              <div class="menu">
                <div class="item" data-value="0">Requirements Gathering</div>
                <div class="item" data-value="1">Planning</div>
                <div class="item" data-value="2">Sprinting</div>
                <div class="item" data-value="3">Completed</div>
                <div class="item" data-value="4">Discontinued</div>
              </div>
            </div>
            <label class="form-manager">Manager</label>
            <div class="ui fluid search selection dropdown">
              <input type="hidden" name="manager">
              <i class="dropdown icon"></i>
              <div class="default text">Manager</div>
              <div class="menu">
                <div class="item" data-value="0">Marcus Brown Lee</div>
                <div class="item" data-value="1">Will Smith</div>
                <div class="item" data-value="2">Bright Hart</div>
                <div class="item" data-value="3">Torbjorn Volke</div>
                <div class="item" data-value="4">Reindhart Brave</div>
              </div>
            </div>
            <button class="ui green basic button submitter" type="submit">Save Changes</button>
            <button class="ui orange basic button" >Archive Project</button>
            <button class="ui red basic button" >Delete Project</button>
          </form>
        </div>
      <!-- END Edit Project Details -->


      <!-- BEGIN Add Project -->
      <div class="project-details">
        <div class="ui h3">Add New Project </div>
        <form class="ui form">
            <div class="field">
              <label>Project Name</label>
              <input type="text" name="project-name" placeholder="Project Name">
            </div>
            <div class="field">
              <label>Client Name</label>
              <input type="text" name="client-name" placeholder="Client Name">
            </div>
          <label>Status</label>
          <div class="ui fluid search selection dropdown">
            <input type="hidden" name="status">
            <i class="dropdown icon"></i>
            <div class="default text">Select Status</div>
            <div class="menu">
              <div class="item" data-value="0">Requirements Gathering</div>
              <div class="item" data-value="1">Planning</div>
              <div class="item" data-value="2">Sprinting</div>
              <div class="item" data-value="3">Completed</div>
              <div class="item" data-value="4">Discontinued</div>
            </div>
          </div>
          <label class="form-manager">Manager</label>
          <div class="ui fluid search selection dropdown">
            <input type="hidden" name="manager">
            <i class="dropdown icon"></i>
            <div class="default text">Manager</div>
            <div class="menu">
              <div class="item" data-value="0">Marcus Brown Lee</div>
              <div class="item" data-value="1">Will Smith</div>
              <div class="item" data-value="2">Bright Hart</div>
              <div class="item" data-value="3">Torbjorn Volke</div>
              <div class="item" data-value="4">Reindhart Brave</div>
            </div>
          </div>
          <button class="ui green basic button submitter" type="submit">Create New Project</button>
        </form>
      </div>
      <!-- END Add Project -->

      <!-- end of task-list -->

      <!-- end of content -->
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
